# Папка виртуального окружения
myenv/
venv/
.venv/

# Файлы кеша Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Файл с переменными окружения (СЕКРЕТЫ!)
.env

# Сгенерированные файлы и отчеты
*.json
*.xlsx
*.log
*.db

# Файлы IDE/редакторов
.idea/
.vscode/
